@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    min-width: 1200px;
}

.default_container{
    max-width: 70%;
    margin: auto;
}
a{
    color: white;
    text-decoration: none;    
}

/*header*/

header{
    background-color: #243B93;
    height: 4.1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top: 0%;
    z-index: 1;
}
.logo{
    padding-left: 1em;
}
.head_menu{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    width: 40em;
    font-size: 1em;
    font-weight: 700;
}
.language_container{
    display: flex;
    align-items: center;
    padding-right: 1em;
}

/*main*/
.button_ar{
    position:absolute;
    bottom: 10%;
    right: 10%;
}
.button_ar svg{
    cursor: pointer;
    position: fixed;
    top: 80%;    
    z-index: 1;
}

main{
    background-color:  #F5F5F5;
}
.home_line{
    background-color:#BFF0FF;
    font-size: 44px;
    font-weight:400;
    font-style: italic;
    height: 2em;
}
.place_line{
    background-color: #fff;    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 3em;
    font-size: 28px;
    font-weight: 400;
    width: 51em;
    margin-top: 1.5em;
}
.ar{
    position: absolute;
    right: 5px;
    top: 1em;
}
              /*cards*/
.button{
    cursor: pointer;
    position: absolute;
    background-color: #243B93;
    border-radius: 30px;
    width: 11em;
    height: 2.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 1em;
    left: 91%;
}
.button h3{
    font-size: 1.5em; ;
    font-weight: 400;
    color: white;
}
.star{
    position: absolute;
    top: 2%;
    right: 1%;
}


.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100em;
}
.card{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(92.95deg, #ADCBD5 0%, #00AEE6 100%);
    margin: 2em 0 0 0;
    min-height: 18.75em;
}
.card_img{
    margin-left: 1em;
}
.card h2{
    display: flex;
}
.card_text_block{
    margin-left: 2%;
    height: 100%;
    width: 60%;
}
.card_text_block >h2{
    font-size: 36px;
    font-weight: 700;
    margin-top: 2%;
    margin-bottom: 0%;
}
.line{
    background-color: #EDFBFF;
    height: 0.2em;
    width: 97%;
    margin-bottom: 1em;  
}
.card_text{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDFBFF;
    height: 63%;
    margin:0 1em 1em 0;
    overflow: auto;
}
.card_text h2{
    padding-left: 1em;
    font-size: 22px;
    font-weight: 400;
}

              /*cabinet*/
.cabinet_line{
    margin-top: 1em;
    background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
    font-size: 44px;
    font-weight:400;
    font-style: italic;
    height: 2em;
}
.cabinet_container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35em;
    width: 108em;
    background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
    margin: 0 auto;
    margin-top: 3em;
}
.cabinei_icon{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
}
.cabinei_icon div:last-child>div{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #243B93;
    border-radius: 2em;
    height: 3em;
    width: 16em;
    margin-top: 2em;
}
.cabinei_icon div:last-child div h3{
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 300;
}

.cabinet_info{
    display: flex;
    justify-content: center;
    width:50%;
    margin: 6% 0 0 2%;
}
.cabinet_info ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
}
.info_line{
    background-color: white;
    width: 100%;
    height: 0.2em;
}
.cabinet_info ul li{
    list-style-type: none;
    font-size: 2.25em ;
    font-weight: 400;
    margin-bottom: 1em;
    font-style: italic;
}
span{
    font-weight: bold;
}

.button_wrapper{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
.cabinet_button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#243B93;
    border-radius: 2em;
    height: 3em;
    width: 11em;
}
.cabinet_button h3{
    padding-top: 0.3em;
    font-size: 1.5em;
    font-weight: 400;
    color: white;
}

              /*contact*/
.contact_line{
    margin-top: 1.5em;
    background: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);    font-size: 44px;
    font-weight:400;
    font-style: italic;
    height: 2em;
}

.contact_container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25em;

}
.contact{
    display: flex;
    align-items: center;
    width: 60%;
    flex-wrap: wrap;
}
.contact ul{
    display: flex;
    flex-wrap: wrap;
}
.contact ul li{
    list-style-type: none;
    margin: 2.5em;
}
.contact ul li div h3{
    margin: 0;
    color: #000;
    font-size: 2em;
    font-weight: 400;
}
.black_line{
    background-color: #000;
    height: 0.1em;
    width: 90%;

}
.contact ul li div a{
    color: #000;
    font-size: 1.9em;
    font-weight: 400;
}
.map{
    display: flex;
    height: 30em;
    width: 50em;
}
.map iframe{
    height: 100%;
    width: 100%;
}
/*footer*/

footer{
    position: relative;
    width: 100%;
    margin-top: 1.5em;
    height: 5em;
    background-color: #243B93;
    font-size: 1em ;
    font-weight: 700;
}
footer h2{
    position: absolute;
    left: 10%;
    top: 40%;
    color:white;
} 

/*Animation*/

.card:hover{
    box-shadow: 0 0 60px #2CBDEB;
}
.card:hover .star path{
    fill:rgba(255, 245, 0, 1);
}
.card:hover .button{
    transform: scale(1.1);
    background-color:#EF075B;
}
.cabinei_icon div:last-child>div:hover{
    transform: scale(1.1);
    background-color: #EF075B;
}
.cabinet_button:hover{
    transform: scale(1.1);
    background-color:#EF075B;
}