@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap');

body {
    height: 100vh;
    background: linear-gradient(112.23deg, #3E718E 0%, #64969B 100%);;
    overflow: hidden;
    min-width: 1300px;
    font-family: 'Space Grotesk', sans-serif;
}
.main_container{
    display: flex;
    width:70%;
    height: 90%;
    margin: 3% auto;
}
.one{
    width: 55%;
    height: 100%;
    background-color: #fff;
}
.two{
    display: flex;
    flex-direction: column;

    align-items: flex-end;
    width: 45%;
    height: 100%;
    background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
    box-shadow:  0px 0px 10px 9px #4E7577;;
}

.one_container{
    width: 70%;
    height: 90%;
    margin: auto;
}
.one_container>div{
    height: 10%;
    margin: auto;
}

.Kreativ{
    margin: 0 0 0 5%;
    font-size: 0.8em;
    font-weight: 700;
}
.one>div:last-child>div:first-child, .one>div:last-child>div:last-child{
    text-align: center;
}
#forms_logo{
    height: 5%;
}
h2{
    font-size: 1.5em;
    font-weight: 700;
    margin-top:5%;
}
form{
    display: flex;
    flex-direction: column;
    padding-top: 3%;    
}
label{
    height: auto;
    font-size: 100%;
    font-weight: 400;
}
input{
    color:#CCCCCC;
    border: 1px solid;
    border-radius: 3px;
    height: 2em;
}
span{
    font-size: 0.8em;
    font-weight: 400;
}
.location form{
    margin-top:15%;
}
label span{
    font-size: 0.8em;
}

.button{
    height:100%;
    margin-bottom: 1%;
}
.button form{
    margin-top: 15%;
}
.button form input{
    height: fit-content;
    padding: 3% 0;
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    background-color: #27485D;
    border-radius: 10px;
}
.button div{
    font-size: 100%;
    font-weight: 700;
}

 /*two*/

 .two div{
    width: 70%;
 }
 .two div:first-child{
    display: flex;
    justify-content: flex-end;
 }
 .two div ul{
    width: 60%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
 }
 .two a {    
    text-decoration: none;
    color: #fff;
}

.two_container{
    margin:33% auto 0 auto;
}
.two_container>div:first-child{
    width: 100%;
    font-size: 2.6em;
    font-weight: 700;
}
.two_container>div:last-child{
    width: 100%;
    font-size: 1em;
    font-weight: 700;
}